.label {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  padding-bottom: 10px;
}

.input {
  background-color: #f9f9f9;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  padding: 15px;
}

.input__novalidate {
  color: #ee3465;
}

.input:focus {
  outline: 1px solid #2be080;
}

.input-container {
  position: relative;
  display: grid;
}

.input__error {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  color: #ee3465;
  bottom: 0;
  left: 0;
}

.input__error_hide {
  display: none;
}

.error-api {
  margin: 0;
  color: #ee3465;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.message-api {
  margin: 0;
  color: #2be080;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
