.movie-card {
  border-radius: 6px;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
}
.movie-card__image {
  object-fit: cover;
  display: block;
  height: 203px;
  width: 100%;
}

.movie-card__description {
  padding: 9px 16px 16px;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
}
.movie-card__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  max-width: 290px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-card__like {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
}

.movie-card__like:hover {
  opacity: 0.8;
}

.movie-card__like_active {
  background-image: url(../../images/like-active.svg);
}

.movie-card:hover .movie-card__delete {
  visibility: visible;
  opacity: 1;
}

.movie-card__delete {
  border: none;
  background-color: transparent;
  width: 30px;
  height: 30px;
  background-image: url(../../images/delete.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: visibility 350ms ease-in-out, opacity 400ms ease;
  padding: 0;
}

.movie-card__time {
  margin-top: 17px;
  margin-bottom: 0;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  color: #a0a0a0;
}

@media screen and (max-width: 786px) {
  .movie-card__image {
    height: 190px;
  }
  .movie-card__description {
    padding: 8px 14px 14px;
  }
  .movie-card__time {
    margin-top: 15px;
  }
}
