.profile {
  padding-top: 74px;
  padding-bottom: 70px;
}

.profile__title {
  margin-top: 0;
  margin-bottom: 123px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.profile__info {
  max-width: 410px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__info_type_true {
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 17px;
}
.profile__info_type_false {
  margin-bottom: 220px;
}

.profile__item {
  margin: 0;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0px;
  outline: none;
  border: none;
}

.profile__item_type_true {
  font-weight: 500;
  width: 20%;
}

.profile__item_type_false {
  font-weight: 400;
  text-align: right;
  width: 80%;
}

.profile__button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  cursor: pointer;
}

.profile__button:disabled {
  color: #b9b9b9;
  pointer-events: none;
}

.profile__logout {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: max-content;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  color: #ee3465;
}

@media screen and (max-width: 768px) {
  .profile {
    padding-top: 236px;
  }
  .profile__title {
    margin-bottom: 96px;
  }
  .profile__info_type_false {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    padding-top: 70px;
  }
  .profile__info {
    max-width: 260px;
  }
  .profile__title {
    margin-bottom: 80px;
  }
  .profile__info_type_false {
    margin-bottom: 379px;
  }
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
  .profile__logout {
    font-size: 12px;
    line-height: 15px;
  }
}
