.promo {
  background-color: #5c5c5c;
  padding-top: 184px;
  padding-bottom: 224px;
  background-image: url(../../images/promo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.promo__title {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .promo {
    padding-top: 326px;
    padding-bottom: 342px;
  }

  .promo__title {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 590px) {
  .promo {
    padding-top: 207px;
    padding-bottom: 246px;
  }

  .promo__title {
    padding-left: 10px;
    padding-right: 10px;
  }
}
