.navigation-auth {
  display: flex;
  align-items: center;
}

.navigation-auth__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  margin-right: 30px;
}

.navigation-auth__link:last-child {
  margin-right: 0;
}

.navigation-auth__link_type_signin {
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.navigation-auth__link_type_signin:hover {
  opacity: 0.8;
}

.navigation-auth__link_type_signup {
  color: #000;
  background: linear-gradient(to right, #24c06d 50%, #2be080 50%);
  background-size: 200%;
  background-position: right;
  padding: 8px 20px;
  border-radius: 3px;
  transition: background 500ms ease-in-out, color 600ms ease-in-out;
}

.navigation-auth__link_type_signup:hover {
  color: #fff;
  background-position: left;
}

.navigation__link-movie-block {
  display: flex;
  align-items: center;
}

.navigation__link-movie {
  text-decoration: none;
  font-weight: 500;
  line-height: 18px;
  color: #000;
  margin-right: 16px;
}

.navigation__link-movie:last-child {
  margin-right: 0;
}

.navigation__link-movie_type_false {
  font-size: 13px;
}

.navigation__link-movie_type_true {
  font-size: 14px;
}

.navigation__link-account {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  color: #000;
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 8px 20px;
  text-decoration: none;
}
